USE master
GO

CREATE DATABASE [SalesDW]
GO

USE [SalesDW]
GO
/****** Object:  Table [dbo].[DimCustomers]    Script Date: 06/05/2023 09:52:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimCustomers](
	[CUSTOMER_KEY] [int] NOT NULL,
	[CONTACTFULLNAME] [nvarchar](500) NULL,
	[COMPANYNAME] [nvarchar](255) NULL,
	[PHONE] [nvarchar](255) NULL,
	[ADDRESSLINE1] [nvarchar](255) NULL,
	[CITY] [nvarchar](255) NULL,
	[COUNTRY] [nvarchar](255) NULL,
	[TERRITORY] [nvarchar](255) NULL,
	[POSTALCODE] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CUSTOMER_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimProducts]    Script Date: 06/05/2023 09:52:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimProducts](
	[PRODUCTCODE] [nvarchar](255) NOT NULL,
	[PRODUCTLINE] [nvarchar](255) NULL,
	[MSRP] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[PRODUCTCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimSize]    Script Date: 06/05/2023 09:52:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimSize](
	[SIZE_KEY] [int] NOT NULL,
	[DEALSIZE] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[SIZE_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimStatus]    Script Date: 06/05/2023 09:52:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimStatus](
	[STATUS_KEY] [int] NOT NULL,
	[STATUS] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[STATUS_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimTime]    Script Date: 06/05/2023 09:52:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimTime](
	[TIME_KEY] [int] NOT NULL,
	[ORDERDATE] [date] NULL,
	[QTR_ID] [int] NULL,
	[YEAR_ID] [int] NULL,
	[MONTH_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TIME_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FactSales]    Script Date: 06/05/2023 09:52:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactSales](
	[FACT_KEY] [int] NOT NULL,
	[PRODUCTCODE] [nvarchar](255) NULL,
	[CUSTOMER_KEY] [int] NULL,
	[TIME_KEY] [int] NULL,
	[STATUS_KEY] [int] NULL,
	[SIZE_KEY] [int] NULL,
	[QUANTITYORDERED] [float] NULL,
	[PRICEEACH] [float] NULL,
	[SALES] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[FACT_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FactSales]  WITH CHECK ADD  CONSTRAINT [FK_CUSTOMER_KEY] FOREIGN KEY([CUSTOMER_KEY])
REFERENCES [dbo].[DimCustomers] ([CUSTOMER_KEY])
GO
ALTER TABLE [dbo].[FactSales] CHECK CONSTRAINT [FK_CUSTOMER_KEY]
GO
ALTER TABLE [dbo].[FactSales]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTCODE] FOREIGN KEY([PRODUCTCODE])
REFERENCES [dbo].[DimProducts] ([PRODUCTCODE])
GO
ALTER TABLE [dbo].[FactSales] CHECK CONSTRAINT [FK_PRODUCTCODE]
GO
ALTER TABLE [dbo].[FactSales]  WITH CHECK ADD  CONSTRAINT [FK_SIZE_KEY] FOREIGN KEY([SIZE_KEY])
REFERENCES [dbo].[DimSize] ([SIZE_KEY])
GO
ALTER TABLE [dbo].[FactSales] CHECK CONSTRAINT [FK_SIZE_KEY]
GO
ALTER TABLE [dbo].[FactSales]  WITH CHECK ADD  CONSTRAINT [FK_STATUS_KEY] FOREIGN KEY([STATUS_KEY])
REFERENCES [dbo].[DimStatus] ([STATUS_KEY])
GO
ALTER TABLE [dbo].[FactSales] CHECK CONSTRAINT [FK_STATUS_KEY]
GO
ALTER TABLE [dbo].[FactSales]  WITH CHECK ADD  CONSTRAINT [FK_TIME_KEY] FOREIGN KEY([TIME_KEY])
REFERENCES [dbo].[DimTime] ([TIME_KEY])
GO
ALTER TABLE [dbo].[FactSales] CHECK CONSTRAINT [FK_TIME_KEY]
GO
