USE master
GO

CREATE DATABASE [SalesStage]
GO

USE [SalesStage]
GO
/****** Object:  Table [dbo].[stgCustomers]    Script Date: 06/05/2023 09:52:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stgCustomers](
	[CUSTOMER_KEY] [int] NOT NULL,
	[CONTACTFULLNAME] [nvarchar](500) NULL,
	[COMPANYNAME] [nvarchar](255) NULL,
	[PHONE] [nvarchar](255) NULL,
	[ADDRESSLINE1] [nvarchar](255) NULL,
	[CITY] [nvarchar](255) NULL,
	[COUNTRY] [nvarchar](255) NULL,
	[TERRITORY] [nvarchar](255) NULL,
	[POSTALCODE] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CUSTOMER_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stgProducts]    Script Date: 06/05/2023 09:52:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stgProducts](
	[PRODUCTCODE] [nvarchar](255) NOT NULL,
	[PRODUCTLINE] [nvarchar](255) NULL,
	[MSRP] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[PRODUCTCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stgSales]    Script Date: 06/05/2023 09:52:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stgSales](
	[FACT_KEY] [int] NOT NULL,
	[PRODUCTCODE] [nvarchar](255) NULL,
	[CUSTOMER_KEY] [int] NULL,
	[TIME_KEY] [int] NULL,
	[STATUS_KEY] [int] NULL,
	[SIZE_KEY] [int] NULL,
	[QUANTITYORDERED] [float] NULL,
	[PRICEEACH] [float] NULL,
	[SALES] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[FACT_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stgSize]    Script Date: 06/05/2023 09:52:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stgSize](
	[SIZE_KEY] [int] NOT NULL,
	[DEALSIZE] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[SIZE_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stgStatus]    Script Date: 06/05/2023 09:52:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stgStatus](
	[STATUS_KEY] [int] NOT NULL,
	[STATUS] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[STATUS_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stgTime]    Script Date: 06/05/2023 09:52:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stgTime](
	[TIME_KEY] [int] NOT NULL,
	[ORDERDATE] [date] NULL,
	[QTR_ID] [int] NULL,
	[YEAR_ID] [int] NULL,
	[MONTH_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TIME_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
